@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Azeret Mono", monospace;
}
* {
  margin: 0;
  padding: 0;
}
/* continar-img-1 */
.continar-img-1 {
  width: 1440px;
  height: 650px;
  margin: 0 auto;
  /* border: 2px solid red; */
  background-image: url(./assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* text and ing continar */
.continat-box {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.continat-box #intro-developer {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  margin-top: 32px;
}
#d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pera {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btn1 {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px 21px 24px;
  border-radius: 5px;
}
/* continar-2 start */
.continar-2 {
  width: 1140px;
  height: 1393px;
  margin: 0 auto;
  margin-top: 74px;
  /* border: 2px solid red; */
}
.continar-web-dev {
  width: 946px;
  height: 1233px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 2px solid blue; */
}
.into-web {
  width: 852px;
  height: 113px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.into-web h6 {
  width: 852px;
  height: 37px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.into-web p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}
/* coding-continar-1 start */

.coding-continar-1 {
  width: 850px;
  height: 240px;
  margin: 0 auto;
  margin-top: 96px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coding-continar-1 .text-1 {
  width: 477px;
  height: 219px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  /* border: 2px solid green; */
}
.text-1 .c-pera-1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 19px;
  font-weight: 700;
  margin-right: 87px;
  margin-bottom: 16px;
}
.text-1 #btn2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  border-radius: 3px;
  margin-top: 44px;
}
.coding-continar-1 .img-1 {
  position: absolute;
  margin-left: 39%;
}
/* coding-continar-2 is start */
.coding-continar-2 {
  width: 850px;
  height: 240px;
  margin: 0 auto;
  margin-top: 125px;
  /* border: 2px solid red; */
  display: flex;
}
.coding-continar-2 .img-2 {
  width: 223.2px;
  height: 208.85px;
  /* border: 2px solid green; */
}
.coding-continar-2 .text-2 {
  width: 477px;
  height: 219px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  /* border: 2px solid green; */
}
.text-2 .c-pera-2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 19px;
  font-weight: 700;
  margin-right: 87px;
  margin-bottom: 16px;
}
.text-2 #btn3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  border-radius: 3px;
  margin-top: 44px;
}
.text-2 {
  margin-left: 48px;
}
/* coding-continar-3 is start */

.coding-continar-3 {
  width: 850px;
  height: 240px;
  margin: 0 auto;
  margin-top: 96px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coding-continar-3 .text-3 {
  width: 477px;
  height: 219px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  /* border: 2px solid green; */
}
.text-3 .c-pera-3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 19px;
  font-weight: 700;
  margin-right: 87px;
  margin-bottom: 16px;
}
.text-3 #btn4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  border-radius: 3px;
  margin-top: 44px;
}
.coding-continar-3 .img-3 {
  position: absolute;
  margin-left: 41%;
}
/* section-3 */
.continar-3 {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 90px;
  /* border: 2px solid rebeccapurple; */
}
.continar-description {
  width: 852px;
  height: 113px;
  margin: 0 auto;
  /* border: 2px solid black; */
}
.continar-description #p-h {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.continar-description #p-d {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

iframe {
  width: 1076px;
  height: 550px;
  margin-top: 80px;
  margin-left: 33px;
  border-radius: 16px;
}
/* continar-4 */
.continar-4 {
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-top: 150px;
  /* border: 2px solid red; */
}
.text-description {
  width: 852px;
  height: 113px;
  margin: 0 auto;
  margin-bottom: 44px;
  /* border: 2px solid black; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#target {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}
.card {
  width: 1140px;
  height: 299px;
  /* border: 2px solid yellowgreen; */
  display: flex;
  justify-content: space-between;
}
.card-1 {
  width: 344px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  /* padding: 10px; */
  /* border: 2px solid tomato; */
}
.card-2 {
  width: 344px;
  height: 299px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  /* padding: 10px; */
  /* border: 2px solid tomato; */
}
.card-3 {
  width: 344px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  /* padding: 10px; */
  /* border: 2px solid tomato; */
}
.web-hcj {
  width: 39.68px;
  height: 45px;
  margin-bottom: 24px;
  margin-top: 40px;
  margin-left: 40px;
}
.ph3 {
  width: 284px;
  height: 36px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  margin-left: 40px;
  margin-bottom: 8px;
}
.ph4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-left: 40px;
}
.btn-55 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  margin-left: 40px;
}
/* continar-5 */
.continar-5 {
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  margin-top: 60px;
  background-image: url("./assets/handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  /* border: 2px solid rgb(239, 6, 61); */
}
.prnt {
  width: 1044px;
  height: 185px;
  margin: 0 auto;
  margin-top: 64px;
  /* border: 2px solid wheat; */
}
.support {
  width: 730px;
  height: 104px;
  margin: 0 auto;
  /* border: 2px solid violet; */
}
.support #hd {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
#frm-fl {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.input #lod {
  width: 313px;
  height: 19px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  padding: 19px 20px 19px 20px;
}
.input #btn76 {
  width: 120px;
  height: 57px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
/* footer */
.footer-continar {
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 2px solid red; */
}
.father {
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  margin-top: 32px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.frist-contant {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
